.container {
  display: flex;
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0px 60px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 56px;
    padding-right: 56px;
  }
}
